@import "bootstrap";

.h-95 {
  min-height: 95px;
}

.h-50 {
  min-height: 50px;
}

.w-152 {
  min-width: 152px;
}

.fnt-light-gray {
  color: #d4d4d4;
}

.difference {
  mix-blend-mode: difference;
}

.form-check-input:checked {
  background-color: #9c9c9c !important;
  border: none !important;
}

.form-check-input:focus {
  border: 1px solid #9c9c9c !important;
  box-shadow: none !important;
}
